<p-table
  #dt1
  [value]="data"
  [columns]="columns"
  [rows]="25"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[25,50,100]"
  [loading]="loading"
  [paginator]="true"
  [filterDelay]="0"
  [globalFilterFields]="fieldsOfColumns"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  styleClass="p-datatable-customers"
>
  <ng-template pTemplate="caption">
    <span class="p-input-icon-left p-ml-auto goods-table__search">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Search keyword"
        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
      />
    </span>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
    <tr>
      <th *ngFor="let col of columns">
        <div class="goods-table__input">
          <p-columnFilter type="text" [field]="col.field"></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr class="goods-table__row">
      <td *ngFor="let col of columns" class="goods-table__td">
        <app-table-data [config]="col" [item]="item"></app-table-data>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">Дані відсутні.</td>
    </tr>
  </ng-template>
</p-table>
